/* Global Elements */
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  position: relative;
  font-family: 'Lora', serif;
  color: var(--color-five);
}



body {
  content: "";
opacity: 0.0;
animation: fadeIn ease 3s;
animation-fill-mode: forwards;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}



ul {
  text-decoration: none;
  list-style-type: none;
}

li {
  transform: scale(1.5);
}

i {
  color: var(--color-two);
  transform: scale(1.5);
}

.theme-light {
  --color-one: #ffffff;
  --color-two: #999999;
  --color-three: #E7E4DB;
  --color-four: #9E908A;
  --color-five: #64676B;
  --color-six: #9C9FB0;
  --color-seven: #C6ABA3;
  --color-eight: #E3EBF7;
  --color-nine: #F9E2C9;
  --color-ten: #8B8C66;
  --color-eleven: #F9F5E7;
}

/* First Column/Navigation Column */
.navigation {
  background-color: var(--color-one) !important;
  z-index: 40;
  height: 100vh;
}

.brand {
  color: var(--color-two);
  text-decoration: none;
  font-size: 2rem;
}

.brand:hover {
  color: var(--color-three);
  text-decoration: none;
  transform: scale(1.1);
}



.aside-section {
  top: 0;
  bottom: 0;
  position: absolute;
}

.aside-left {
  display: none;
  width: 60vw;
  left: 0;
  background-color: var(--color-six);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: transform 0.6s ease-in-out;
z-index: 2;
}

.aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 150px;
  text-align: center;
  padding: 50px;
  display: inline-block;
}



.aside-content {
  margin: auto;
  padding: 2rem;
  position: relative;
  color: white;
  text-align: center;

}

.nav-link {
  color: var(--color-one) !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
  color: var(--color-eight);
  text-decoration: none;
  transform: scale(1.1);
  font-family: 'Montserrat', sans-serif;
}


input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ aside .aside-left {
  transform: translateY(0%);
}


input[type="checkbox"]:checked ~ label .bar {
  background-color: #fff;
}

input[type="checkbox"]:checked ~ label .top {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  -moz-transform: translateY(0px) rotateZ(45deg);
  -ms-transform: translateY(0px) rotateZ(45deg);
  -o-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

input[type="checkbox"]:checked ~ label .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

input[type="checkbox"]:checked ~ label .middle {
  width: 0;
}

.middle {
  margin: 0 auto;
}

label {
  top: 10px;
  display: inline-block;
  padding: 7px 10px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  z-index: 3;
  position: relative;
}

.bar {
  display: block;
  background-color: var(--color-two);
  width: 30px;
  height: 3px;
  border-radius: 5px;
  margin: 5px auto;
  transition: background-color 0.4s ease-in, transform 0.4s ease-in,
    width 0.4s ease-in;
}

@media (min-width: 1px) {
  .aside-left {
    display: block;
  }
}



.social {
  position: relative;
  flex-direction: column;
}



/* main column */
.one {
  position: relative;
  height: 100vh;
}

.page-header {
  height: 100vh;
  background-image: url("IMG_1286.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.page-header:after {
  content: "";
  animation: grain 10s steps(10) infinite;
  background-image: url("concrete-texture.png");
  height: 300%;
  width: 300%;
  left: -50%;
  top: -100%;
  opacity: 0.3;
  position: fixed;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0)
  }

  10% {
    transform: translate(-5%, -10%)
  }

  20% {
    transform: translate(-15%, 5%)
  }

  30% {
    transform: translate(7%, -25%)
  }

  40% {
    transform: translate(-5%, 25%)
  }

  50% {
    transform: translate(-15%, 10%)
  }

  60% {
    transform: translate(15%, 0%)
  }

  70% {
    transform: translate(0%, 15%)
  }

  80% {
    transform: translate(3%, 25%)
  }

  90% {
    transform: translate(-10%, 10%)
  }
}

.welcome {

}

.two {
  background-color: var(--color-one);

  position: relative;
  height: 110vh;
}

.three {
  background-color: var(--color-one);

  position: relative;
  height: 100vh;
}

.four {
  background-color: var(--color-one);

  position: relative;
  height: 100vh;
}


.five {
  background-color: var(--color-one);
  position: relative;
  height: 100vh;
}


.six {
  background-color: var(--color-one);
  position: relative;
  height: 100vh;
}
